/* Product Section */

#product{
  width: 72%;
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}

#product h3{
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
}

#product .product-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.9rem;
}

#product .product-card-container .product-card{
  max-width: 330px;
  padding: 17px 14px;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0,0,0,0.15);
}

#product .product-card-container .product-card img{
  width: 100%;
}

#product .product-card-container .product-card h5{
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 6px;
}

#product .product-card-container .product-card h6{
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 400;
}

#product .product-card-container .product-card p{
  font-size: 0.8rem;
  width: 80%;
  color: #6C6C6C;
}

#product a{
  text-decoration: none;
  color: #E02C6D;
  font-weight: 500;
  display: block;
  text-align: end;
  margin-top: 20px;
}

/* Featured Products Section */

#featured-product{
  width: 77%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 90px;
  margin-bottom: 100px;
}

#featured-product img{
  width: 100%;
}

.featured-product-content{
  margin: auto 0;
}

#featured-product .featured-product-content .heading{
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

#featured-product .featured-product-content .description{
  font-weight: 600;
  color: #6C6C6C;
  margin-bottom: 1rem;
  width: 90%;
  line-height: 28px;
}

.featured-product-content button{
  border-radius: 5px;
}


/* Small Device */

@media screen and (max-width:576px) {

  /* Product Section  */

  #product {
    width: 90%;
  }

  #product .product-card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  #product .product-card-container .product-card{
    margin: 0 auto;
  }

   /*featured-product  */

  #featured-product {
    flex-direction: column-reverse;
    gap: 50px;
    width: 90%;
  }
  
  .featured-product-content {
    text-align: center;
  }

  #featured-product .featured-product-content .heading{
    font-size: 1.8rem;
  }
  
  #featured-product .featured-product-content .description {
    margin: 1rem auto;
  }

}


/* mid device */

@media screen and (min-width:576px) and (max-width:992px){

  /* Product Section */

  #product {
    width: 90%;
  }

  #product .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #product .product-card-container .product-card{
    margin: 0 auto;
  }

  
   /*featured-product  */

  #featured-product {
    flex-direction: column-reverse;
    gap: 50px;
    width: 77%;
  }
  
  .featured-product-content {
    text-align: center;
  }

  #featured-product .featured-product-content .heading{
    font-size: 1.8rem;
  }

  #featured-product .featured-product-content .description {
    margin: 1rem auto;
  }
}